.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.no-results {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #666;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
